In [6]:
import pandas as pd
url = "https://raw.githubusercontent.com/ngnmg/ML-Volleyball-Talent-Identifier/main/data/volleyball_players.csv"
data = pd.read_csv(url)
data.head()

,Age,Height,Weight,VerticalJump,SpikeReach,BlockReach,Speed,Experience,Talent18,180,72,55,295,285,7,2,1
0,20,185,78,60,305,295,8,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22,190,85,65,315,305,9,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,175,68,48,280,270,6,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21,178,70,50,285,275,6,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23,182,75,52,290,280,7,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# نمایش تمام ستون‌ها
for col in data.columns:
    print(f"'{col}'")

'Age'
'Height'
'Weight'
'VerticalJump'
'SpikeReach'
'BlockReach'
'Speed'
'Experience'
'Talent18'
'180'
'72'
'55'
'295'
'285'
'7'
'2'
'1'

In [31]:
# نمایش نام دقیق ستون‌ها
for col in data.columns:
    print(f"'{col}'")

# نمایش 5 ردیف اول
data.head()

'Age'
'Height'
'Weight'
'VerticalJump'
'SpikeReach'
'BlockReach'
'Speed'
'Experience'
'Talent18'
'180'
'72'
'55'
'295'
'285'
'7'
'2'
'1'

,Age,Height,Weight,VerticalJump,SpikeReach,BlockReach,Speed,Experience,Talent18,180,72,55,295,285,7,2,1
0,20,185,78,60,305,295,8,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22,190,85,65,315,305,9,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,175,68,48,280,270,6,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21,178,70,50,285,275,6,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23,182,75,52,290,280,7,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
import pandas as pdfrom sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

# شبیه‌سازی دیتا
data = pd.DataFrame({
    "Height":[180,175,190,165,185,170,195,168,182,160],
    "Weight":[75,68,85,60,80,65,90,62,78,58],
    "Age":[20,19,22,18,21,20,23,19,21,18],
    "VerticalJump":[65,58,70,50,68,55,72,52,66,48],
    "SpikeSpeed":[85,78,92,70,90,75,95,73,88,68],
    "BlockReach":[290,275,305,260,300,270,310,265,295,255],
    "ReactionTime":[220,240,210,260,215,245,205,250,225,270],
    "Agility":[8,7,9,6,8,7,9,6,8,5],
    "Endurance":[7,6,8,5,8,6,9,6,7,5],
    "ServeAccuracy":[82,75,88,68,85,72,90,70,83,65],
    "Talent":[1,0,1,0,1,0,1,0,1,0]
})

# X و y
X = data.drop("Talent", axis=1)
y = data["Talent"]

# تقسیم داده
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

SyntaxError: invalid syntax (2922161402.py, line 1)